<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="activities.CCM"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconoappmen"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="activities.CCM.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            
        </activity>
        <activity android:name="Activity_ppalview"
            android:label="@string/PpalView"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>
        <activity android:name="Activity_CoupleSettings"
            android:label="@string/Login"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="Activity_ListCalendar"
            android:label="@string/Calendar"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>
