<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cc.couplecare"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme" >

        <!-- Splash Screen -->
        <activity
            android:name="Splash"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activity Welcome -->
        <activity
            android:name="com.cc.couplecare.WelcomeCC"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity android:name="MyCalendarActivity" >
        </activity>
        <activity android:name="Myloginactivity" >
        </activity>
        <activity android:name="Myhomeactivity" >
        </activity>
        <activity android:name="Signupmen" 
            android:configChanges="orientation|keyboardHidden|navigation">
        </activity>
        <activity android:name="MysettingsActivity" >
        </activity>
        <activity android:name="ListFertilDays" >
        </activity>
        <activity android:name="StartDate" >
        </activity>
        <activity android:name="ChangePass" >
        </activity>
        <activity android:name="SplashFrame" >
        </activity>
        <activity android:name="Mysignupactivity"></activity>
    </application>

</manifest>